body {
    background: url("../images/bg.png") no-repeat center center fixed;
    cursor: url("../images/cursor.ico"),default !important;
}

.m-padded-mini {
    padding: 0.2em !important;
}

.m-padded-tiny {
    padding: 0.3em !important;
}

.m-padded-small {
    padding: 0.5em !important;
}

.m-padded {
    padding: 1em !important;
}

.m-padded-large {
    padding: 2em !important;
}

.m-padded-lr-responsive {
    padding-left: 4em !important;
    padding-right: 4em !important;
}

.m-padded-lr-small {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}

.m-padded-tb-mini {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

.m-padded-tb-tiny {
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}

.m-padded-tb-small {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.m-padded-tb {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.m-padded-tb-large {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}

.m-padded-tb-big {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}

.m-padded-tb-huge {
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}

.m-padded-tb-massive {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}


/*---------- margin ------------*/

.m-margin-top-small {
    margin-top: 0.5em !important;
}

.m-margin-top {
    margin-top: 1em !important;
}

.m-margin-large {
    margin-top: 2em !important;
}

.m-margin-tb-tiny {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}

.m-margin-tb {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.m-margin-tiny {
    margin: 0.3em !important;
}

.m-margin-small {
    margin: 0.5em !important;
}

.m-margin {
    margin: 1em !important;
}

.m-margin-bottom-small {
    margin-bottom: 0.5em !important;
}

.m-margin-lr-small {
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
}
/*---------- text ------------*/

.m-text {
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8;
    opacity: 0.8 !important;
}

.m-text-thin {
    font-weight: 300 !important;
}

.m-text-spaced {
    letter-spacing: 1px !important;
}

.m-text-lined {
    line-height: 1.8;
}

.m-word-spacing {
    word-spacing: 5px;
}


/*------------- opacity -----------*/

.m-opacity {
    opacity: 0.95 !important;
}

.m-opacity-mini {
    opacity: 0.8 !important;
}


/*------------ position ------------*/

.m-top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.m-fixed {
    position: fixed !important;
    z-index: 10 !important;
}

.m-right-bottom {
    bottom: 0 !important;
    right: 0 !important;
}


/*------------ display ----------------*/

.m-inline-block {
    display: inline-block !important;
}


/*----------- container -------------*/

.m-container {
    max-width: 65em !important;
    margin: auto !important;
    min-height: 100% !important;
}

.m-container-large {
    max-width: 75em !important;
    margin: auto !important;
    min-height: 100% !important;
}

.m-container > img {
    max-width: 100% !important;
}


/*------------ color --------------*/

.m-black {
    color: #3D3D3D !important;
}

.m-background-color {
    background: #ffffff !important;
    color: #dea3a8 !important;
}

.m-white{
    color: whitesmoke !important;
}

.m-theme-color {
    color: #dea3a8 !important;
}

.m-tag-color {
    color: white !important;
    background: #dea3a8 !important;
}

.m-type-color{
    color: #cb3d54 !important;
    background: transparent !important;
}

.m-share-color {
    color: #561e2a !important;
    background: #fff1e5 !important;
}

.m-tech-tag-color{
    color: #b13e37 !important;
}
/*------------ hover -----------*/
.m-firstPic-hover:hover{
    transition:transform 1s ease 0s;
    transform: scale(1.1);
}

.m-firstPic-hover{
    transition:transform 1s ease 0s;
    transform: scale(1);
}

.m-tag-hover:hover{
    transition:transform 0.5s ease 0s;
    transform: scale(1.1);
    color: white !important;
}

a:hover,a:active{
    color: #dea3a8 !important;
}
/*------------- shadow ----------*/

.m-shadow-small {
    -webkit-box-shadow: 0 4px 8px rgb(255, 217, 220) !important;
    box-shadow: 0 4px 8px rgb(255, 217, 220) !important;
}

.m-mobile-show {
    display: none !important;
}


/*-------------- 动态响应布局 -----------------*/


/*当屏幕宽度小于768px时，隐藏组件，显示菜单组件*/

@media screen and (max-width: 768px) {
    .m-mobile-hide {
        display: none !important;
    }

    .m-mobile-show {
        display: block !important;
    }

    .m-padded-lr-responsive {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .m-mobile-lr-clear {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .m-mobile-wide {
        width: 100% !important;
    }

    body {
        background: url("../images/bg_mobile.png") no-repeat center center fixed;
    }
}

/*----  alert window  ----*/
.widget {
    z-index: 9999 !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    background: rgba(0,0,0,.5) !important;
}
.widget .body {
    width: 300px !important;
    background: #fff !important;
    padding: 20px 10px !important;
    border-radius: 5px !important;
    border: 1px solid #ccc !important;
    text-align: center !important;
    position: absolute !important;
    font-size: 14px !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}
.widget .body .btns {
    margin-top: 20px !important;
}
.widget .body .btns a.btn-cancel {
    color: #fff !important;
    background: #ccc !important;
}
.widget .body .btns a {
    background: inherit !important;
    background-color: #dea3a8 !important;
    border: none !important;
    border-radius: 5px !important;
    color: #fff !important;
    font-size: 14px !important;
    display: inline-block !important;
    padding: 8px 25px !important;
    cursor: pointer !important;
    margin-left: 10px !important;
}
